
*{
    margin: 0;
    padding: 0;
    ;
}


:root{
    --color-principal: #1E2601;
    --color-secundario: #7C8C3F;
    --color-terciario: #F29544;
    --color-cuaternario: #8C2703;
    --color-quinto: #401201;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:var(--color-cuaternario);
}

/* cotenedor principal*/
.contenedor-contacto{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.ingresa{
    width: 100%;
    max-width: 450px;
    background-color: var(--color-terciario);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,.2);
}
.titulo-ingresa{
    text-align: center;
    color: var(--color-quinto);
    margin-bottom: 25px;
}


.formulario{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.formulario input{
    width: 100%;
    padding: 12px;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 2px solid var(--color-secundario);
    font-size: 1rem;
    transition: .3s;
}

.formulario input{
    border-radius: 5% solid var(--color-cuaternario);
}

.olvido{
    text-decoration: none;
    color: var(--color-quinto);
    font-size: .9rem;
}

.olvido:hover{
    text-decoration: underline;
}

/* BOTON */
.btn{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 999px;
    background-color: var(--color-secundario);
    cursor: pointer;
    font-size: 1rem;
    transition: .3s;
}

.btn:hover{
    background-color: var(--color-principal);
    color: white;
}

.back{
    text-decoration: none;
    text-align: center;
    background-color: var(--color-secundario);
    color: black;
    padding: 12px;
    border-radius: 999px;
    transition: .3s;
}

.back:hover{
    background-color: var(--color-principal);
    color: white;
    transform: scale(1.05);
}

/* TABLET Y PC */
@media (min-width: 768px){

    .ingresa{
        max-width: 500px;
    }

    .titulo-ingresa{
        font-size: 2rem;
    }
}

@media (max-width: 468px){

    .ingresa{
        max-width: 300px;
    }

    .titulo-ingresa{
        font-size: 1rem;
    }
}